@import url(http://fonts.googleapis.com/css?family=Raleway:200,300,400,500);

@import url(http://fonts.googleapis.com/css?family=Open+Sans:100,300,700,800);

@import url(../fonts/stylesheet.css);

.froala-element {
    h1, h2, h3, h4, h5, h6 {
        font-family:'Open Sans', sans-serif;
        color: #232a2f;
    }
    h3, h4, h5 {
        font-family:'Raleway', sans-serif;
        font-weight: 200;
        margin-bottom: 30px;
    }
    p {
        font-size: 18px;
        line-height: 28px;
        font-weight: 300;
        margin-bottom: 30px;
    }
  .header-content {
    margin-bottom: 40px;
    color: #FFF;
    h2 {
      font-weight: 300;
      font-size: 40px;
    }
    h3 {
      font-family: 'rsubold','Raleway', sans-serif;
      font-weight: 200;
      text-transform: capitalize;
      font-size: 24px;
    }
  }
  ul.list {
    li:before {
      position: absolute;
      left: 3px;
      font-family: 'FontAwesome';
      content: '\f105';
    }
    padding-left: 28px;
    padding-bottom: 10px;
    list-style: none;
    position: relative;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
  }
  a {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    color: #DDAD02;
    &:hover {
      color: #232a2f;
      text-decoration: none;
    }
  }
  #main-wrapper {
    width: 100%;
    position: relative;
  }
  blockquote {
    margin-left: 20px;
    p {
      margin-bottom: 10px !important;
    }
  }
  code {
    display: block;
    padding: 4px 8px;
    font-size: 90%;
    color: #c7254e;
    white-space: inherit;
    background-color: #f9f2f4;
    border-radius: 2px;
  }
  #loader {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1031;
    background: #f7f8f9;
  }
  footer {
    background: #e5e8eb;
    padding: 40px;
    p {
      font-size: 14px;
      text-align: center;
    }
  }
  #sidebar {
    position: fixed;
    width: 220px;
    background: #e5e8eb;
    height: 100%;
    left: 0;
    font-family: 'Raleway', sans-serif;
    .navbar-toggle {
      margin-top: 11px;
    }
    .navbar-brand {
      padding-top: 10px;
      padding-bottom: 20%;
      padding-left: 30px;
      span {
        font-style: italic;
        font-weight: 900;
        font-size: 39px;
        vertical-align: middle;
        color: #262261;
      }
    }
    .navbar {
      border-radius: 0;
      background: transparent;
      border: none;
      padding-top: 10%;
    }
    .navbar-collapse {
      padding-left: 20px;
    }
    .navbar-header {
      float: none;
      margin-left: -10px;
    }
    .navbar-nav {
      float: none;
      margin-left: -10px;
      li {
        float: none;
        margin-left: -10px;
      }
    }
    .navbar-default .navbar-nav > {
      li > a {
        color: #232a2f;
        font-size: 13px;
        font-weight: 300;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        padding-left: 30px;
        &:hover {
          background: rgba(38, 41, 46, 0.2);
        }
      }
      .active > a {
        background: transparent;
        color: #DDAD02;
      }
    }
  }
  .navbar-default .navbar-nav > .active > a {
    &:hover, &:focus {
      background: transparent;
      color: #DDAD02;
    }
  }
  #sidebar {
    .navbar-nav {
      margin: 70px -15px;
      .opens .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        border: 0;
        box-shadow: none;
        background-color: transparent;
      }
    }
    .navbar-default .navbar-nav .opens .dropdown-menu > li > a {
      color: #777;
    }
    .navbar-nav .opens .dropdown-menu > li > a {
      line-height: 20px;
    }
  }
  #container {
    position: relative;
    margin-left: 220px;
    section {
      padding: 60px;
      background: #f7f8f9;
      &.odd {
        background: #eceff1;
      }
    }
  }
  .mg-bt-80 {
    margin-bottom: 80px;
  }
  .mg-bt-60 {
    margin-bottom: 60px;
  }
  .mg-bt-40 {
    margin-bottom: 40px;
  }
  .totop {
    position: fixed;
    bottom: 0;
    right: 0px;
    width: 0px;
    height: 0px;
    color: #FFF;
    border-style: solid;
    border-width: 0 0 60px 60px;
    border-color: transparent transparent rgba(18, 24, 24, 0.4) transparent;
    z-index: 999;
    span {
      position: relative;
      overflow: hidden;
      font-size: 20px;
      bottom: -27px;
      display: inline-block;
      left: -50px;
      cursor: pointer;
      height: 42px;
      width: 60px;
      line-height: 30px;
      text-align: center;
      z-index: 1000;
    }
    a {
      position: absolute;
      right: 0;
      display: inline-block;
      width: 60px;
      height: 60px;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      -ms-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
    }
    .first {
      top: 0px;
    }
    .hover {
      top: 20px;
    }
    .first i {
      color: #FFF;
    }
  }
  .footer-toogle .hover i {
    color: #DDAD02;
  }
  .totop:hover {
    cursor: pointer;
    span > a {
      &.first {
        top: -20px;
      }
      &.hover {
        top: 0px;
        color: #DDAD02;
      }
    }
  }
  .btn {
    border-radius: 0;
    padding: 8px 13px;
    margin-right: 5px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    &.big {
      padding: 13px 25px;
      font-size: 18px;
    }
    &.btn-dark {
      background: #e5e8eb;
      color: #FFF;
      &:hover {
        background: #323838;
      }
    }
    &.btn-light {
      background: #323838;
      color: #FFF;
      &:hover {
        background: #e5e8eb;
      }
    }
  }
  .social-icon {
    padding: 0;
    text-align: center;
    li {
      list-style: none;
      display: inline-block;
      cursor: pointer;
      margin-left: 15px;
      margin-bottom: 15px;
      a {
        display: block;
        width: 72px;
        height: 72px;
        text-align: center;
        font-size: 36px;
        line-height: 72px;
        color: #2b2e33;
        background: #e5e8eb;
        border-radius: 50%;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
      }
      &:hover a {
        transform: rotateX(360deg);
        -ms-transform: rotateX(360deg);
        -webkit-transform: rotateX(360deg);
        -o-transform: rotateX(360deg);
        -moz-transform: rotateX(360deg);
        color: #FFF;
        background: #DDAD02;
        i {
          transform: rotateY(360deg);
          -ms-transform: rotateY(360deg);
          -webkit-transform: rotateY(360deg);
          -o-transform: rotateY(360deg);
          -moz-transform: rotateY(360deg);
        }
      }
    }
  }
  #container section.home {
    padding: 0px;
  }
  .home {
    .bg-parallax {
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      background-position: center center;
      width: 100%;
      height: 100%;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
    }
    .slide-filter {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: rgba(236, 239, 241, 0.48);
    }
    .slide-text {
      position: absolute;
      display: block;
      bottom: 40%;
      right: 0;
      left: -220px;
      width: 100%;
      padding: 0 10px;
      z-index: 22;
      max-width: 800px;
      margin: 0 auto;
      text-align: center;
      h2 {
        font-family: 'rsubold','Raleway', sans-serif;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 56px;
        line-height: 69px;
        letter-spacing: 2px;
        color: #232a2f;
        position: relative;
      }
      span {
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: 25px;
        line-height: 40px;
        letter-spacing: 0px;
        color: #232a2f;
        position: relative;
      }
    }
    .slides-navigation {
      margin: 0 auto;
      position: absolute;
      z-index: 2;
      width: 100%;
      top: 0%;
      height: 120px;
      a {
        position: absolute;
        font-size: 40px;
        font-weight: 300;
        top: 0;
        right: 0;
        line-height: 35px;
        z-index: 1;
        bottom: 21px;
        color: #232a2f;
        &:hover {
          color: #DDAD02;
        }
        &.prev, &.next {
          background: #f7f8f9;
          width: 40px;
          height: 40px;
          text-align: center;
        }
        &.prev {
          right: 42px;
        }
      }
    }
  }
  #slider-services {
    position: relative;
    z-index: 1;
    div {
      position: relative;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
      img {
        z-index: -1;
        position: relative;
        width: 100%;
      }
    }
  }
  .services {
    .services-icon {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background: #DDAD02;
      text-align: center;
      font-size: 30px;
      color: #FFF;
      margin: 0 auto;
      position: relative;
      line-height: 70px;
    }
    .services-desc {
      padding-left: 10px;
      h4 {
        margin-top: 0;
        margin-bottom: 15px;
      }
    }
  }
  .portfolio {
    padding-top: 60px;
    padding-bottom: 80px;
    background: #F4F4F4;
  }
  .portfolioContainer {
    padding: 20px;
  }
  .portfolio .portfolio-item {
    opacity: 0;
    display: none;
    margin: 0;
    padding: 0;
    img {
      width: 100%;
      height: auto;
    }
  }
  .portfolioFilter {
    font-weight: 400;
    margin-bottom: 20px;
    a {
      margin-right: 10px;
      text-decoration: none;
      font-weight: 300;
      text-align: center;
      &.active {
        text-decoration: line-through;
        color: #FFF;
      }
    }
  }
  .portfolio-item {
    position: relative;
    color: #ffffff;
    line-height: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  .project-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: rgba(255, 255, 255, 0);
    background: transparent;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.4em;
    line-height: 20px;
    text-transform: uppercase;
    visibility: visible;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  .portfolio-item a:hover > .project-hover {
    color: white;
    cursor: crosshair;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  .project-hover span {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .portfolio-item a:hover > .project-hover span {
    padding: 15px 0;
    font-family: 'rsuregular', 'Raleway', sans-serif;
  }
  .project-hover {
    b {
      color: rgba(255, 255, 255, 0);
      font-size: 14px;
      font-style: italic;
      font-weight: normal;
      letter-spacing: 0;
      text-transform: none;
      padding-top: 0;
      display: inline-block;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -ms-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
    }
    span.plus {
      font-size: 120px;
      font-weight: 100;
    }
  }
  .portfolio-item a:hover > .project-hover b {
    color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  .testimonial {
    text-align: center;
    ul li {
      list-style: none;
      padding: 0;
    }
    h2 {
      font-weight: 300;
      padding: 0 10%;
      font-size: 24px;
      line-height: 36px;
      text-align: center;
    }
    .icon-testimonial {
      font-size: 35px;
      padding-bottom: 15px;
      color: #DDAD02;
    }
    span {
      padding-top: 20px;
      display: block;
      position: relative;
      &#controls {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        margin-top: -60px;
        padding: 0;
        margin-right: -44px;
        line-height: 37px;
      }
    }
    .quote-right-indicator:hover, .quote-left-indicator:hover {
      color: #DDAD02;
    }
    .quote-right-indicator {
      width: 40px;
      height: 40px;
      display: inline-block;
      position: relative;
      background: #e5e8eb;
      font-size: 25px;
      font-weight: 300;
      z-index: 1;
      color: #CECECE;
    }
    .quote-left-indicator {
      width: 40px;
      height: 40px;
      display: inline-block;
      position: relative;
      background: #e5e8eb;
      font-size: 25px;
      font-weight: 300;
      z-index: 1;
      color: #CECECE;
      margin-right: 2px;
    }
  }
  .about {
    .teams {
      color: #202020;
      background: #FFF;
      margin-bottom: 40px;
      position: relative;
      z-index: 1;
      .pict {
        position: relative;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
        img {
          position: relative;
          z-index: -1;
          max-width: 100%;
          width: 100%;
        }
      }
      h3 {
        margin-bottom: 20px;
        color: #202020;
        font-weight: 400;
      }
      .desc {
        padding: 25px;
      }
      span {
        font-size: 13px;
        font-weight: 700;
        display: block;
        position: relative;
        padding-bottom: 30px;
      }
    }
    .social a {
      width: 31px;
      height: 31px;
      position: relative;
      text-align: center;
      color: #202020;
      display: inline-block;
      margin-right: 5px;
      border-radius: 50%;
      line-height: 28px;
      font-size: 16px;
      border: 1px solid #202020;
      &:hover {
        background: #202020;
        color: #FFF;
      }
    }
    canvas {
      width: 100%;
    }
    .skill-bar ul {
      list-style: none;
      padding: 0;
      li {
        height: 50px;
        line-height: 50px;
        width: 100%;
        background: rgba(0, 0, 0, 0.1);
        position: relative;
        margin-bottom: 26px;
        h4 {
          margin: 0;
          line-height: 50px;
          position: absolute;
        }
        .bar {
          display: inline-block;
          padding-left: 15px;
          height: 100%;
          background: #DDAD02;
        }
        span {
          position: absolute;
          top: 0;
          right: 20px;
          color: #FFF;
        }
      }
    }
    .client-slider {
      list-style: none;
      padding-left: 0;
      position: relative;
      display: block;
      margin: 0 auto;
      li {
        margin: 5px 5px;
        display: inline-block;
      }
    }
  }
  .blog-front article {
    position: relative;
    z-index: 1;
    margin-bottom: 40px;
    .blog-thumb {
      position: relative;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
      img {
        z-index: -1;
        width: 100%;
        max-width: 100%;
        position: relative;
      }
    }
    .post-area {
      text-align: right;
      h4 {
        margin-bottom: 10px;
        margin-top: 20px;
        text-align: left;
      }
      .post-date {
        font-weight: 700;
        display: block;
        position: relative;
        text-align: left;
        margin-bottom: 20px;
      }
      p {
        text-align: left;
      }
    }
  }
  .call-ta {
    position: relative;
    h2 {
      display: inline-block;
      font-size: 40px;
      font-weight: 300;
      letter-spacing: 2px;
      text-transform: uppercase;
      padding-left: 20px;
      border-left: 3px solid #DDAD02;
      span {
        display: block;
        font-size: 16px;
        line-height: 26px;
        font-family: 'rsubold', 'Open Sans', sans-serif;
        font-weight: 300;
        text-transform: none;
        letter-spacing: 0px;
      }
    }
    .btn {
      display: inline-block;
      margin: 25px 10px 10px;
    }
    .slide-filter {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: rgba(38, 41, 46, 0.7);
    }
  }
  #map {
    height: 450px;
    width: 100%;
  }
  .contact {
    position: relative;
    &:before {
      bottom: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-bottom-color: #eceff1;
      border-width: 20px;
      margin-left: -20px;
    }
    form {
      margin-bottom: 40px;
      .form-group {
        margin-bottom: 2px;
      }
      input, textarea {
        border-radius: 0;
        background: rgba(0, 0, 0, 0.07);
        color: #85939b;
        border: none;
        border-left: 1px solid #DDAD02;
        box-shadow: none;
      }
      input {
        height: 50px;
        &:focus {
          box-shadow: none;
          border: 1px solid #DDAD02;
        }
      }
      textarea:focus {
        box-shadow: none;
        border: 1px solid #DDAD02;
      }
    }
  }
  #container section.blog {
    padding-bottom: 100px;
  }
  #primary {
    padding-right: 20px;
    margin-right: 20px;
    border-right: 1px solid #e5e8eb;
    margin-bottom: 40px;
    .pagination {
      margin: 60px 0 10px;
      display: inline-block;
      li {
        display: inline-block;
        a {
          width: 55px;
          font-family: 'rsuregular', 'Open Sans', sans-serif;
          font-size: 16px;
          color: #85939b;
          height: 55px;
          margin-right: 10px;
          margin-bottom: 8px;
          border-radius: 50%;
          background: #eceff1;
          border: none;
          text-align: center;
          line-height: 55px;
          display: block;
          padding: 0;
          -webkit-transition: all .5s ease-in-out;
          -moz-transition: all .5s ease-in-out;
          -ms-transition: all .5s ease-in-out;
          -o-transition: all .5s ease-in-out;
          transition: all .5s ease-in-out;
        }
        &:hover a {
          background: #DDAD02;
          color: #FFF;
        }
        &.active a {
          &:hover {
            pointer-event: none;
            transform: none;
            -ms-transform: none;
            -webkit-transform: none;
            -o-transform: none;
            -moz-transform: none;
          }
          color: #FFF;
          background: #DDAD02;
        }
      }
    }
  }
  .widgetbar {
    padding-left: 0;
  }
  .post {
    position: relative;
    margin-top: 60px;
    padding-bottom: 60px;
    border-bottom: 1px solid #e5e8eb;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      border-bottom: 0;
      padding-bottom: 0;
    }
    .post-thumb {
      position: relative;
      img {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
      }
    }
    .post-title {
      position: absolute;
      max-width: 95%;
      right: 0;
      top: 0;
      background: #e5e8eb;
      padding: 5px 20px;
      h1 {
        line-height: 54px;
        font-weight: 300;
        font-size: 36px;
        margin: 0;
        font-family: 'rsubold','Raleway', sans-serif;
        a {
          color: #232a2f;
        }
      }
    }
    .post-meta {
      margin-bottom: 40px;
      span {
        font-weight: 300;
        text-transform: uppercase;
        font-size: 13px;
        a {
          color: inherit;
          &:hover {
            color: #DDAD02;
          }
        }
        &:after {
          content: '/';
          margin: 0 5px 0 9px;
        }
        &:last-child:after {
          content: '';
          margin: 0;
        }
      }
    }
    .post-content p {
      margin-bottom: 30px;
    }
  }
  .ribbon-wrapper {
    position: absolute;
    bottom: 20px;
    left: 0;
  }
  .ribbon-front {
    background-color: #eceff1;
    height: 40px;
    width: 70px;
    position: relative;
    left: -20px;
    z-index: 2;
    text-align: center;
    line-height: 40px;
    a {
      color: #85939b;
      &:hover i {
        color: #ff9999;
      }
    }
    i {
      color: #ff5555;
      font-size: 18px;
    }
  }
  .ribbon-edge-topleft, .ribbon-edge-topright, .ribbon-edge-bottomleft, .ribbon-edge-bottomright {
    position: absolute;
    z-index: 1;
    border-style: solid;
    height: 0px;
    width: 0px;
  }
  .ribbon-edge-bottomleft, .ribbon-edge-bottomright {
    top: 40px;
  }
  .ribbon-edge-topleft, .ribbon-edge-bottomleft {
    left: -20px;
    border-color: transparent #e5e8eb transparent transparent;
  }
  .ribbon-edge-topleft {
    top: -10px;
    border-width: 10px 20px 0 0;
  }
  .ribbon-edge-bottomleft {
    border-width: 0 20px 0px 0;
  }
  .ribbon-edge-topright, .ribbon-edge-bottomright {
    left: 100px;
    border-color: transparent transparent transparent #2828BA;
  }
  .ribbon-edge-topright {
    top: -10px;
    border-width: 10px 0 0 20px;
  }
  .ribbon-edge-bottomright {
    border-width: 0 0 0px 20px;
  }
  .ribbon-back-left {
    position: absolute;
    top: -10px;
    left: 0px;
    width: 0px;
    height: 40px;
    z-index: 0;
  }
  .ribbon-back-right {
    position: absolute;
    top: -10px;
    right: 0px;
    width: 0px;
    height: 40px;
    z-index: 0;
  }
  .blog-author {
    margin: 40px 0;
    padding: 0 20px 40px 20px;
    border: 1px solid #e5e8eb;
    position: relative;
    background: #eceff1;
    .blog-author-content {
      position: relative;
      display: block;
    }
    figure {
      width: 120px;
      position: relative;
    }
    .blog-author-info {
      margin-left: 120px;
      position: absolute;
      top: 0;
      p {
        position: relative;
      }
    }
  }
  .blog-comments {
    > h3 {
      margin-bottom: 40px;
      span {
        font-size: 13px;
        display: block;
        margin-top: 10px;
      }
    }
    form {
      margin-bottom: 40px;
      .form-group {
        margin-bottom: 2px;
      }
      input, textarea {
        border-radius: 0;
        background: #eceff1;
        color: #85939b;
        border: none;
        border-left: 1px solid #DDAD02;
        box-shadow: none;
      }
      input {
        height: 50px;
        &:focus {
          box-shadow: none;
          border: 1px solid #DDAD02;
        }
      }
      textarea:focus {
        box-shadow: none;
        border: 1px solid #DDAD02;
      }
    }
    .blog-comment-content {
      figure img {
        border-radius: 50%;
      }
      .comment-meta {
        display: block;
        .media-heading {
          display: inline-block;
        }
        .in-reply, span.time {
          font-size: 12px;
          padding-left: 15px;
        }
        .comment-extra {
          display: inline-block;
        }
      }
      .media-list li {
        padding: 15px;
        &:nth-child(2n+1) {
          background: #eceff1;
        }
      }
      .media-body .media-heading a {
        color: #232a2f;
        padding-bottom: 1px;
        border-bottom: 1px dotted #85939b;
      }
    }
  }
  .widgetbar .widget {
    margin-bottom: 30px;
    ul {
      padding-left: 0;
      margin: 0;
      list-style: none;
      li {
        font-size: 14px;
        line-height: 20px;
        font-weight: 300;
        color: #85939b;
        a {
          font-size: 14px;
          line-height: 20px;
          font-weight: 300;
          color: #85939b;
          &:hover {
            color: #DDAD02;
          }
        }
        margin-bottom: 7px;
      }
    }
    .search-widget {
      input[type='text'] {
        height: 50px;
        border-radius: 0;
        background: #e5e8eb;
        border: none;
        padding: 8px 12px;
        box-shadow: none;
      }
      .btn {
        height: 50px;
        border-radius: 0;
        background: #e5e8eb;
        border: none;
        color: #f7f8f9;
        box-shadow: none;
        font-size: 20px;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        &:hover {
          color: #FFF;
        }
      }
    }
    .ads-widget img {
      max-width: 100%;
    }
  }
  .widget .widget-title {
    font-family: 'rsubold','Raleway', sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 0;
    a {
      color: inherit;
      &:hover {
        color: #DDAD02;
      }
    }
  }
  .dpXsmall .post .post-title {
    position: relative;
    right: inherit;
    top: inherit;
    background: transparent;
    padding: 0;
    h1 {
      font-size: 20px;
      line-height: 27px;
      margin-bottom: 15px;
      margin-top: 10px;
    }
  }
  .dpSmall .media figure.pull-left {
    float: none !important;
    padding-bottom: 20px;
  }
  .dpXsmall {
    .media figure.pull-left {
      float: none !important;
      padding-bottom: 20px;
    }
    .blog-comments .blog-comment-content .comment-meta {
      .media-heading, .in-reply, span.time {
        display: block;
        padding-left: 0;
        margin: 8px 0;
      }
      .comment-extra {
        float: none !important;
        margin-bottom: 20px;
      }
    }
  }
  .dpSmall #primary, .dpXsmall #primary {
    padding-right: 0;
    margin-right: 0;
    border-right: 0;
  }
  .dpSmall #sidebar, .dpXsmall #sidebar {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 99999;
  }
  .dpSmall .widgetbar, .dpXsmall .widgetbar {
    padding-left: 15px;
  }
  .dpSmall #sidebar .navbar, .dpXsmall #sidebar .navbar {
    padding-top: 20px;
  }
  .dpSmall #sidebar .navbar-brand, .dpXsmall #sidebar .navbar-brand {
    padding-bottom: 0;
  }
  .dpSmall #container, .dpXsmall #container {
    margin-left: 0;
  }
  .dpSmall .home .slide-text, .dpXsmall .home .slide-text {
    left: 0;
  }
  .dpSmall .home .slides-navigation, .dpXsmall .home .slides-navigation {
    bottom: 0%;
    height: 40px;
    top: inherit;
  }
  .dpSmall .home .slide-text h2, .dpXsmall .home .slide-text h2 {
    font-size: 35px;
    line-height: 45px;
  }
  .dpSmall .home .slide-text span, .dpXsmall .home .slide-text span {
    font-size: 18px;
    line-height: 27px;
  }
  .dpSmall .services .services-icon, .dpXsmall .services .services-icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #DDAD02;
    text-align: center;
    font-size: 30px;
    color: #FFF;
    margin: 10px 0 20px;
    position: relative;
    line-height: 70px;
  }
  .widgetbar .widget .search-widget {
    input::-webkit-input-placeholder, &::-moz-placeholder {
      color: #333;
    }
  }
  .panel-group {
    .panel {
      margin-bottom: 5px;
    }
    p {
      font-size: 16px;
    }
    .panel {
      border: 0;
      border-radius: 0;
      margin-top: 0 !important;
    }
  }
  .panel-heading {
    border-radius: 0;
    border-top: 1px solid transparent;
    padding: 0;
  }
  .panel-default > .panel-heading {
    color: #1A1E22;
    background-color: #e5e8eb;
    border-color: transparent;
  }
  .panel-title {
    font-size: 16px;
    color: inherit;
    font-weight: 700;
    display: block;
    a {
      display: block;
      padding: 20px;
      text-decoration: none;
      &:hover {
        color: #FFF;
      }
    }
  }
  .panel-body {
    background: #1A1E22;
  }
  .panel-group .panel-heading + .panel-collapse .panel-body {
    border-top: 0;
  }
  .nav-tabs {
    > li {
      &.active {
        > a {
          background: #1A1E22;
          color: #e5e8eb;
          border-radius: 0;
          webkit-border-radius: 0;
          border-top: 0;
          border-left: none;
          border-bottom: 0;
          border-right: 0;
          &:hover, &:focus {
            background: #1A1E22;
            color: #e5e8eb;
            border-radius: 0;
            webkit-border-radius: 0;
            border-top: 0;
            border-left: none;
            border-bottom: 0;
            border-right: 0;
          }
        }
        &:first-child > a:hover {
          border-left: 0;
          border-bottom: 0;
        }
      }
      > a {
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        color: inherit;
        background: #e5e8eb;
        font-weight: 700;
        border-left: none;
        margin: 0;
        margin-right: 5px;
        padding: 15px 20px;
        border-radius: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      > a {
        border-bottom: 1px solid #CCC;
        border: 0;
        color: #1A1E22;
        &:hover {
          color: #FFF;
          background: #3a3e45;
          border-top: 0;
          border-right: 0;
          border-left: none;
          border: 0;
        }
      }
      &:first-child > a {
        border-left: 0;
      }
    }
    border-bottom: 0;
    overflow: hidden;
  }
  .tab-content {
    background: #1A1E22;
    padding: 15px;
    border: 0;
  }
  .alert {
    border-radius: 0;
    padding: 20px;
    margin-bottom: 10px;
    border: none;
    color: #FFF;
    font-size: 16px;
  }
  .alert-dismissable .close {
    right: -21px;
    top: -21px;
    width: 31px;
    height: 31px;
    background: #1A1E22;
    color: inherit;
    opacity: 1;
    text-shadow: none;
  }
  .alert-warning {
    background: #deb14d;
  }
  .alert-success {
    background: #70bc70;
  }
  .alert-info {
    background: #52adda;
  }
  .alert-danger {
    background: #c46868;
  }
  .tooltip {
    font-size: 14px;
  }
  .tooltip-inner {
    padding: 15px 15px;
    border-radius: 0;
    background: #1A1E22;
  }
  .tooltip {
    &.in {
      opacity: 1;
      filter: alpha(opacity = 100);
    }
    &.top .tooltip-arrow {
      bottom: 0;
      left: 50%;
      margin-left: -5px;
      border-top-color: #1A1E22;
      border-width: 5px 5px 0;
    }
    &.left .tooltip-arrow {
      border-left-color: #1A1E22;
    }
    &.right .tooltip-arrow {
      border-right-color: #1A1E22;
    }
    &.bottom .tooltip-arrow {
      border-bottom-color: #1A1E22;
    }
  }
  .label {
    padding: 5px 8px;
    border-radius: 0;
  }
  .label-warning {
    background: #deb14d;
  }
  .label-info {
    background: #52adda;
  }
  .label-success {
    background: #70bc70;
  }
  .label-danger {
    background: #c46868;
  }
  .progress {
    height: 25px;
    border-radius: 0;
    background: rgba(0, 0, 0, 0.07);
    box-shadow: none;
  }
  .progress-bar {
    padding: 20px;
  }
  .panel {
    border-radius: 0;
    .panel-heading {
      border-radius: 0;
      h3 {
        padding: 10px;
      }
    }
  }
  .table.table-bordered {
    background: #F4F4F4;
  }
  form {
    .form-group {
      margin-bottom: 2px;
      margin-bottom: 15px;
      label {
        margin-bottom: 10px;
        font-weight: 400;
      }
    }
    .form-control, textarea {
      border-radius: 0;
      background: rgba(0, 0, 0, 0.07);
      color: #85939b;
      border: none;
      border-left: 1px solid #DDAD02;
      box-shadow: none;
    }
    input.form-control {
      height: 50px;
    }
    .form-control:focus, textarea:focus {
      box-shadow: none;
      border: 1px solid #DDAD02;
    }
  }
  .btn {
    border-radius: 0;
    padding: 8px 13px;
    margin-right: 5px;
    outline: 0;
    font-weight: 700;
  }
  .btn-link {
    color: #2b2e33;
    text-decoration: underline;
    &:hover {
      color: #DDAD02;
      .well {
        border-radius: 0;
        background: rgba(0, 0, 0, 0.07);
        border: 1px solid #85939b;
      }
      .pagination {
        margin: 40px 0 10px;
        display: inline-block;
        li {
          display: inline-block;
          a {
            width: 55px;
            font-family: 'rsuregular','Open Sans', sans-serif;
            font-size: 16px;
            color: #85939b;
            height: 55px;
            margin-right: 10px;
            margin-bottom: 8px;
            border-radius: 50%;
            background: #eceff1;
            border: none;
            text-align: center;
            line-height: 55px;
            display: block;
            padding: 0;
            -webkit-transition: all .5s ease-in-out;
            -moz-transition: all .5s ease-in-out;
            -ms-transition: all .5s ease-in-out;
            -o-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
          }
          &:hover a {
            background: #DDAD02;
            color: #FFF;
          }
          &.active a {
            &:hover {
              pointer-event: none;
              transform: none;
              -ms-transform: none;
              -webkit-transform: none;
              -o-transform: none;
              -moz-transform: none;
            }
            color: #FFF;
            background: #DDAD02;
          }
        }
        > li {
          &:last-child > {
            a, span {
              border-radius: 50%;
            }
          }
          &:first-child > {
            a, span {
              border-radius: 50%;
            }
          }
        }
      }
      .bs-glyphicons {
        margin: 0 -19px 20px -16px;
        overflow: hidden;
      }
      .bs-glyphicons-list {
        padding-left: 0;
        list-style: none;
      }
      .bs-glyphicons {
        .glyphicon {
          margin-top: 5px;
          margin-bottom: 10px;
          font-size: 24px;
        }
        .glyphicon-class {
          display: block;
          text-align: center;
          word-wrap: break-word;
        }
        li {
          float: left;
          width: 25%;
          height: 115px;
          padding: 10px;
          font-size: 10px;
          line-height: 1.4;
          text-align: center;
          border: 1px solid #fff;
          background-color: #f9f9f9;
        }
      }
      .model-img {
        max-width: 100%;
        img {
          max-width: 100%;
        }
      }
      .nav-second-level li, .nav-third-level li {
        border-bottom: none !important;
      }
      .nav-second-level li a {
        padding-left: 47px;
      }
      .nav-third-level li a {
        padding-left: 62px;
      }
      .thai-light {
        font-family: 'rsulight','Open Sans', sans-serif;
      }
      .thai-regular {
        font-family: 'rsuregular','Open Sans', sans-serif;
      }
    }
  }
  /* CSS crunched with Crunch - http://crunchapp.net/ */
a{color:#3498db;}
#sidebar .navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>.active>a:focus{color:#3498db;}
.footer-toogle .hover i{color:#3498db;}
.totop:hover span>a.hover{color:#3498db;}
.social-icon li:hover a{background:#3498db;}
.home .slides-navigation a:hover{color:#3498db;}
.services .services-icon{background:#3498db;}
.testimonial .icon-testimonial{color:#3498db;}
.testimonial .quote-right-indicator:hover,.testimonial .quote-left-indicator:hover{color:#3498db;}
.about .skill-bar ul li .bar{background:#3498db;}
.call-ta h2{border-left:3px solid #3498db;}
.contact form input,.contact form textarea{border-left:1px solid #3498db;}
.contact form input:focus,.contact form textarea:focus{border:1px solid #3498db;}
#primary .pagination li:hover a{background:#3498db;}
#primary .pagination li.active a{background:#3498db;}
.post .post-meta span a:hover{color:#3498db;}
.blog-comments form input,.blog-comments form textarea{border-left:1px solid #3498db;}
.blog-comments form input:focus,.blog-comments form textarea:focus{border:1px solid #3498db;}
.widgetbar .widget ul li a:hover{color:#3498db;}
.widget .widget-title a:hover{color:#3498db;}
.dpSmall .services .services-icon,.dpXsmall .services .services-icon{background:#3498db;}
.pace .pace-progress{background:#3498db;box-shadow:0px 0px 5px 0px #3498db;}
form .form-control,form textarea{border-left:1px solid #3498db;}
form .form-control:focus,form textarea:focus{border:1px solid #3498db;}
.btn-link:hover{color:#3498db;}
.pagination li:hover a{background:#3498db;color:#FFF;}
.pagination li.active a{background:#3498db;}

}