@font-face {
  src: url("../fonts/woff/boon-300.woff") format("woff");
  font-family: "Boon";
  font-style: normal;
  font-weight: 300;
}

@font-face {
  src: url("../fonts/woff/boon-300-oblique.woff") format("woff");
  font-family: "Boon";
  font-style: italic;
  font-weight: 300;
}

@font-face {
  src: url("../fonts/woff/boon-400.woff") format("woff");
  font-family: "Boon";
  font-style: normal;
  font-weight: 400;
}

@font-face {
  src: url("../fonts/woff/boon-400-oblique.woff") format("woff");
  font-family: "Boon";
  font-style: italic;
  font-weight: 400;
}

@font-face {
  src: url("../fonts/woff/boon-500.woff") format("woff");
  font-family: "Boon";
  font-style: normal;
  font-weight: 500;
}

@font-face {
  src: url("../fonts/woff/boon-500-oblique.woff") format("woff");
  font-family: "Boon";
  font-style: italic;
  font-weight: 500;
}

@font-face {
  src: url("../fonts/woff/boon-700.woff") format("woff");
  font-family: "Boon";
  font-style: normal;
  font-weight: 700;
}

@font-face {
  src: url("../fonts/woff/boon-700-oblique.woff") format("woff");
  font-family: "Boon";
  font-style: italic;
  font-weight: 700;
}
