/* CSS crunched with Crunch - http://crunchapp.net/ */
a{color:#3498db;}
#sidebar .navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>.active>a:focus{color:#3498db;}
.footer-toogle .hover i{color:#3498db;}
.totop:hover span>a.hover{color:#3498db;}
.social-icon li:hover a{background:#3498db;}
.home .slides-navigation a:hover{color:#3498db;}
.services .services-icon{background:#3498db;}
.testimonial .icon-testimonial{color:#3498db;}
.testimonial .quote-right-indicator:hover,.testimonial .quote-left-indicator:hover{color:#3498db;}
.about .skill-bar ul li .bar{background:#3498db;}
.call-ta h2{border-left:3px solid #3498db;}
.contact form input,.contact form textarea{border-left:1px solid #3498db;}
.contact form input:focus,.contact form textarea:focus{border:1px solid #3498db;}
#primary .pagination li:hover a{background:#3498db;}
#primary .pagination li.active a{background:#3498db;}
.post .post-meta span a:hover{color:#3498db;}
.blog-comments form input,.blog-comments form textarea{border-left:1px solid #3498db;}
.blog-comments form input:focus,.blog-comments form textarea:focus{border:1px solid #3498db;}
.widgetbar .widget ul li a:hover{color:#3498db;}
.widget .widget-title a:hover{color:#3498db;}
.dpSmall .services .services-icon,.dpXsmall .services .services-icon{background:#3498db;}
.pace .pace-progress{background:#3498db;box-shadow:0px 0px 5px 0px #3498db;}
form .form-control,form textarea{border-left:1px solid #3498db;}
form .form-control:focus,form textarea:focus{border:1px solid #3498db;}
.btn-link:hover{color:#3498db;}
.pagination li:hover a{background:#3498db;color:#FFF;}
.pagination li.active a{background:#3498db;}
